
body {
  background-color: #1c2024;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: red;
}

a:focus {
  outline: none;
}

h1 {
  /*文字枠の大きさ*/
  width: 418px;
  height: 331px;
  
  /*文字*/
  font-family: 'Itim';
  font-style: normal;
  font-weight: 400 !important;
  font-size: 120px !important;
  color: #d0b458 !important; /*文字色*/
  padding: 60px 10px; /*文字周りの余白*/
  line-height: 144px !important; /*行高*/
  letter-spacing: 0.26em; /*文字の間隔*/
  text-indent: 15px;/*字下げ*/
  text-decoration-line: line-through;/*文字列の線の設定*/
  text-transform: lowercase;/*文字の形式*/
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /*文字の影*/
  
  /*枠線・要素*/
  display:inline-block;
  border-top: solid 4px #d0b458 !important;
  border-left: solid 4px #d0b458 !important;
  border-bottom: solid 4px #d0b458 !important;
  border-right: solid 4px #d0b458 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 80px 7px 10px 90px;
  
  /*コンテンツ外側の大きさ*/
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  
  background: #421615; /*背景色*/
  
  /*位置・配置*/
  position: sticky;　/*固定で*/
}

h2 {
  /*文字枠の大きさ*/
  width: 418px;
  height: 331px;
  
  /*文字*/
  font-family: 'Itim';
  font-style: normal;
  font-weight: 400px !important;
  font-size: 120px !important;
  color: #d0b458 !important; /*文字色*/
  padding: 60px 10px; /*文字周りの余白*/
  line-height: 144px !important; /*行高*/
  letter-spacing: 0.26em; /*文字の間隔*/
  text-indent: 15px;/*字下げ*/
  text-decoration-line: line-through;/*文字列の線の設定*/
  text-transform: lowercase;/*文字の形式*/
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /*文字の影*/
  
  /*枠線・要素*/
  display:inline-block;
  border-top: solid #d0b458;
  border-left: solid #d0b458;
  border-bottom: solid #d0b458 !important;
  border-right: solid #d0b458 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 80px 7px 10px 90px;
  
  /*コンテンツ外側の大きさ*/
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  
  background: #421615; /*背景色*/
  
  /*位置・配置*/
  position: sticky;　/*固定で*/
}

h3 {
  /*文字枠の大きさ*/
  width: 418px;
  height: 331px;
  
  /*文字*/
  font-family: 'Itim';
  font-style: normal;
  font-weight: 400px !important;
  font-size: 120px !important;
  color: #d0b458 !important; /*文字色*/
  padding: 60px 10px; /*文字周りの余白*/
  line-height: 144px !important; /*行高*/
  letter-spacing: 0.26em; /*文字の間隔*/
  text-indent: 15px;/*字下げ*/
  text-decoration-line: line-through;/*文字列の線の設定*/
  text-transform: lowercase;/*文字の形式*/
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /*文字の影*/
  
  /*枠線・要素*/
  display:inline-block;
  border-top: solid #d0b458;
  border-left: solid #d0b458;
  border-bottom: solid #d0b458 !important;
  border-right: solid #d0b458 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 80px 7px 10px 90px;
  
  /*コンテンツ外側の大きさ*/
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  
  background: #421615; /*背景色*/
  
  /*位置・配置*/
  position: sticky;　/*固定で*/
}

h4{
  /*文字枠の大きさ*/
  width: 418px;
  height: 331px;
  
  /*文字*/
  font-family: 'Itim';
  font-style: normal;
  font-weight: 400px !important;
  font-size: 120px !important;
  color: #d0b458 !important; /*文字色*/
  padding: 60px 10px; /*文字周りの余白*/
  line-height: 144px !important; /*行高*/
  letter-spacing: 0.26em; /*文字の間隔*/
  text-indent: 15px;/*字下げ*/
  text-decoration-line: line-through;/*文字列の線の設定*/
  text-transform: lowercase;/*文字の形式*/
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /*文字の影*/
  
  /*枠線・要素*/
  display:inline-block;
  border-top: solid #d0b458;
  border-left: solid #d0b458;
  border-bottom: solid #d0b458 !important;
  border-right: solid #d0b458 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 80px 7px 10px 90px;
  
  /*コンテンツ外側の大きさ*/
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  
  background: #421615; /*背景色*/
  
  /*位置・配置*/
  position: sticky;　/*固定で*/
}

h5{
  /*文字枠の大きさ*/
  width: 418px;
  height: 331px;
  
  /*文字*/
  font-family: 'Itim';
  font-style: normal;
  font-weight: 400px !important;
  font-size: 120px !important;
  color: #d0b458 !important; /*文字色*/
  padding: 60px 10px; /*文字周りの余白*/
  line-height: 144px !important; /*行高*/
  letter-spacing: 0.26em; /*文字の間隔*/
  text-indent: 15px;/*字下げ*/
  text-decoration-line: line-through;/*文字列の線の設定*/
  text-transform: lowercase;/*文字の形式*/
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /*文字の影*/
  
  /*枠線・要素*/
  display:inline-block;
  border-top: solid #d0b458;
  border-left: solid #d0b458;
  border-bottom: solid #d0b458 !important;
  border-right: solid #d0b458 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 80px 7px 10px 90px;
  
  /*コンテンツ外側の大きさ*/
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  
  background: #421615; /*背景色*/
  
  /*位置・配置*/
  position: sticky;　/*固定で*/
}

h6{
  /*文字枠の大きさ*/
  width: 418px;
  height: 331px;
  
  /*文字*/
  font-family: 'Itim';
  font-style: normal;
  font-weight: 400px !important;
  font-size: 120px !important;
  color: #d0b458 !important; /*文字色*/
  padding: 60px 10px; /*文字周りの余白*/
  line-height: 144px !important; /*行高*/
  letter-spacing: 0.26em; /*文字の間隔*/
  text-indent: 15px;/*字下げ*/
  text-decoration-line: line-through;/*文字列の線の設定*/
  text-transform: lowercase;/*文字の形式*/
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /*文字の影*/
  
  /*枠線・要素*/
  display:inline-block;
  border-top: solid #d0b458;
  border-left: solid #d0b458;
  border-bottom: solid #d0b458 !important;
  border-right: solid #d0b458 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 80px 7px 10px 90px;
  
  /*コンテンツ外側の大きさ*/
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  
  background: #421615; /*背景色*/
  
  /*位置・配置*/
  position: sticky;　/*固定で*/
}

pre {
  background-color: #33363a !important;
  border-radius: 0 !important;
}

.nv {
  color: #27bdbd !important;
}

.o {
  color: #fff !important;
}

.c1 {
  color: rgb(36, 166, 36) !important;
}

.k {
  color: mediumorchid !important;
}

.s1,
.s2 {
  color: rgb(222, 153, 84) !important;
}

/* 

赤 #421615 プライマリー
黄 #d0b458 セカンダリー
黒 #1c2024 メイン
灰 #222529 サブ


*/
